@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.abc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.kontineri{
    overflow: scroll;
    overflow-x: hidden;
    width: 95%; 
    height: 8vh;
    margin-top: 20px;
    padding: 0 !important;
}
  
.kontineri::-webkit-scrollbar{
    background-color: #EAEBEF;
}
.kontineri::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    background: #A3BE5B;
    border: 1px solid #7D9835;
    border-radius: 5px; 
}
.kontineri::-webkit-scrollbar-button{
    
    transform: rotate(-180deg);
}


ng-container ::ng-deep .mdc-data-table__cell{
    padding: 0 !important;
}

a{
    text-decoration: none;
    color: #2a2a2a;
}

.rreshti{
    font-size: small;
}
.rreshti:nth-child(even){
    background-color: #EDF3DB;
    border-radius: 8px !important;
}

.mat-cell{
    width: 100%;
    text-align: center;
    height: 567px;
    background-color: #a4be5b44;
    color: #2a2a2a;
}
.material-symbols-outlined {
    font-size: 65px;
    color: #2a2a2a;
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 48
}