.container{
    min-height: 100vh;
    display: flex; 
    flex-direction: column; 

}
.mside{
    width: 20%;
}

.msc{
    height: calc(100vh - 64px);
}
app-footer{
    height: 10vh;
}
